.top-about-sec{
    position: relative;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.438)), url(/Assets/imgs/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    hr{
        width: 100px;
        height: 6px;
        border: 0;
        background: #da042a;
    }
}
.top-about-sec .txt-about-title{
    display: flex;
    align-items: center;
    justify-content: center;

}
.top-about-sec .txt-about-title h1{
    color: #da042a;
    font-size: 4rem; 
}
.full-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    h3{
        background: #da042a;
        color: white;
        padding: 20px 50px;
        min-height: 15vh;
        text-align: center;
        font-size: 1.3rem;
    }
    p{
        padding: 20px 50px;
        font-size: 1.2rem;
        line-height: 23px;
    }
}
.about-banner{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;

    
}
.about-banner .lisi-about{
        display: flex;
        flex-direction: column;
        color: rgb(27, 27, 27);
        gap: 10px;
        font-size: 1.2rem;
        list-style: disc;

    li{
        width: 100%;
    }
}
.about-banner .img-banner{
    img{
        width: 40rem;
    }
}
.button-about{
    padding: 20px 50px;
    height: 10vh;
    
    a{
        padding: 10px;
        font-size: 1.3rem;
        background: #da042a;
        color: white;
        text-decoration: none;
    }
}

@media (max-width: 1028px){
    .about-banner{
        flex-direction: column;
    }
    .about-banner .img-banner img{
        width: 35rem;
    }
}
@media (max-width: 600px){
    .full-about{
        h3{
            padding: 20px;
            font-size: 1rem;
        }
        p{
            padding: 20px;
        }
    }
    .about-banner{
        padding: 20px;
    }
    .about-banner .img-banner img{
        width: 20rem;
    }
}