body {
    min-height: 100vh;
}  
  section {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.486)), url(/Assets/imgs/pexels-tobi-620332.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .section-header {
    margin-top: 10vh;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .section-header h2 {
    color: #da042a;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .section-header p {
    color: #ebebeb;
    list-style: 30px;
  }
  
  .row  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-info {
    width: 50%;
  }
  
  .contact-info-item {
    display: flex;
    margin-bottom: 30px;
  }
  
  .contact-info-icon {
    height: 50px;
    width: 50px;
    background-color: #a02222;
    text-align: center;
    border-radius: 50%;
  }
  
  .contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
  }
  
  .contact-info-content {
    margin-left: 20px;
  }
  
  .contact-info-content h4 {
    color: #da042a;
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  
  .contact-info-content p {
    color: #f1f1f1;
    font-size: 1em;
  }
  
  .contact-form {
    background-color: #eeeeee;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #e90000;
  }
  
  .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #cc0000;
    outline: none;
    resize: none;
  }
  
  .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box textarea:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  
  .contact-form .input-box input[type="submit"]
  {
    width: 100%;
    background: #d40000;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #be0000cc;
    transition: 0.5s;
  }
  
  .contact-form .input-box input[type="submit"]:hover
  {
    background: #FFF;
    color: #d40000;
  }
  
  @media (max-width: 991px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .row {
      flex-direction: column;
    }
    
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
    
    .contact-form {
      width: 100%;
    }
  }